<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="FSLib.Extension" publicKeyToken="61d6a007a0eb6994"/>
                <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FSLib.Network" publicKeyToken="8bf54bd6729f490c"/>
                <bindingRedirect oldVersion="1.0.0.0-9.9.9.9" newVersion="1.5.6.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>